Add tests for more well-known Diffie-Hellman groups

For normal DH, only the FFDHE groups defined in [RFC 7919](https://datatracker.ietf.org/doc/html/rfc7919) are tested. Those in [RFC 5114](https://datatracker.ietf.org/doc/html/rfc5114) and [RFC 3526](https://datatracker.ietf.org/doc/html/rfc3526) should be tested as well.